<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1>New Message</h1>
    <form action="/new" method="post">
      <input
        type="text"
        name="messageUser"
        placeholder="Your name"
        required
      /><br />
      <textarea
        name="messageText"
        placeholder="Your message"
        required
      ></textarea
      ><br />
      <button type="submit">Submit</button>
    </form>
    <a href="/">Back to messages</a>
  </body>
</html>
