<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1>Add a New Username</h1>
    <form action="/new" method="post">
      <input
        type="text"
        name="username"
        placeholder="Enter username"
        required
      />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
