<!-- views/createUser.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <%- include("partials/errors.ejs") %>
    <form action="/create" method="POST">
      <label for="firstName">First Name: </label>
      <input type="text" name="firstName" id="firstName" required />
      <label for="lastName">Last Name: </label>
      <input type="text" name="lastName" id="lastName" required />
      <button type="submit">Submit</button>
    </form>
    <a href="/">Back to home</a>
  </body>
</html>
